@import 'bulma/css/bulma.css';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

.editor-wrapper {
  background-color: #333333;
  height: 700px;
}

.editor-placeholder {
  position: absolute;
  top: -10px;
}

.menu-list {
  cursor: move;
}

body {
  margin: 0;
}

.container {
  background-color: #333;
  padding: 1rem;
  margin-top: 1rem;
}

.draggable {
  color: black;
  cursor: move;
}

.draggable.dragging {
  opacity: .5;
}

.editor-paragraph {
  max-height: 650px;
  overflow: scroll;
  height: 100%;
  padding: 16px;
}
.editor-container {
  background-color: #444;
  display: flex;
  flex-direction: row;
  padding: 8px;
}
